{%- includeJsResource "sourceedit/ace/ace.js" %}
{%- includeJsResource "sourceedit/source_edit.js" %}

{% import "_includes/forms" as forms %}

<div id="{{ id }}-container" class="ace-container" style="max-width: 600px; height: {{ settings.height }}px;">
    <div id="{{ id }}"  class="ace-editor" style="position: relative; width: 100%; height: {{ settings.height }}px;" data-container-id="fields-{{ id }}-container">{{ value }}</div>
</div>
<input type="hidden" name="{{ name }}" value="{{ value }}" id="{{ name }}-input" />
<p class="light" style="font-size: 11px;">Note: Toggle fullscreen mode by clicking "ESC" on your keyboard.</p>